{% extends 'admin/layout.html.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="col-sm-9 mb-4 mx-auto">
        <div class="row">
            <div class="col-sm-3">
                <ul class="list-group m-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-secondary text-white">
                        News statistics
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        All News
                        <span class="badge badge-primary badge-pill">{{ newsCount }}</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Active News
                        <span class="badge badge-primary badge-pill">{{ newsActiveCount }}</span>
                    </li>
                </ul>

                <ul class="list-group m-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-secondary text-white">
                        By category
                    </li>

                    {% for categoryName, category in categoryCount %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ categoryName }}
                            <span class="badge badge-primary badge-pill">
                                {{ category }}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-sm-3">
                <ul class="list-group m-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-secondary text-white">
                        User statistics
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        All User
                        <span class="badge badge-primary badge-pill">{{ userList|length }}</span>
                    </li>
                </ul>

                <ul class="list-group m-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center bg-secondary text-white">
                        By roles
                    </li>

                    {% for userRole, count in userRolesCount %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ userRole }}
                            <span class="badge badge-primary badge-pill">
                                {{ count }}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}