{% extends 'layout.html.twig' %}

{% block title %}
    Registration
{% endblock %}

{% block stylesheets %}
    <style>
        form,
        .alert {
            width: 100%;
            max-width: 600px !important;
            margin: 0 auto;
        }

        .invalid-feedback {
            text-shadow: 1px 1px 2px #000;
        }

        .required {
            position: relative;
        }

        .required::after {
            content: '*';
            color: #dc3545;
            padding-left: 3px;
            text-shadow: 0 0 2px #000;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="wrapper w-100 h-auto bg-white p-5 border-bottom border-dark d-flex flex-column justify-content-start">
        <h1 class="text-center">
            <span class="welcome-text">Registration</span>
        </h1>
    </div>

    <div class="wrapper w-100 h-100 py-5 news-list bg-secondary">
        {% if app.session is not null and app.session.started %}
            {% for label, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="container mt-3">
                        <div class="w-100 text-center mb-3 mx-auto alert {% if label == 'danger' %}alert-danger{% else %}alert-success{% endif %}" role="alert">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="container">
            <div class="row d-flex flex-wrap justify-content-center align-items-center p-4 text-white">
                {{ form_start(registrationForm) }}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                {{ form_label(registrationForm.firstName, 'First Name') }}
                                {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control', 'placeholder': 'First Name'}}) }}

                            </div>

                            <div class="col">
                                {{ form_label(registrationForm.lastName, 'Last Name') }}
                                {{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Last Name'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(registrationForm.email, 'Email') }}

                        {% if error is same as(false) %}
                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}

                        {% elseif error is same as(true) %}
                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control is-invalid', 'placeholder': 'Email'}}) }}
                            <div class="invalid-feedback">
                                Invalid email address
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group password-group">
                        <div class="form-row">
                            <div class="col">
                                {{ form_label(registrationForm.password, 'Password') }}
                                {{ form_widget(registrationForm.password, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
                                <div class="invalid-feedback hide">
                                    Passwords do not match
                                </div>
                            </div>

                            <div class="col">
                                <label for="registration_confirmPassword" class="required">Confirm password</label>
                                <input type="password" id="registration_confirmPassword" required="required" class="form-control" placeholder="Confirm password">
                                <div class="invalid-feedback hide">
                                    Passwords do not match
                                </div>
                            </div>
                        </div>
                    </div>

                    <small class="form-text text-white"><span class="required"></span> - required fields</small>

                    <div class="form-group mt-5 text-center">
                        {{ form_label(registrationForm.submit) }}
                        {{ form_widget(registrationForm.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        (function($) {
            $('#registration_password, #registration_confirmPassword').on('blur', function () {
                const originalPassword = $('#registration_password').val();
                const confirmPassword = $('#registration_confirmPassword').val();

                if (originalPassword !== '' && confirmPassword !== '') {
                    const $passwordGroup = $('.password-group');
                    if (originalPassword !== confirmPassword) {
                        $passwordGroup.find('.form-control').addClass('is-invalid');
                        $passwordGroup.find('.invalid-feedback').removeClass('hide');

                    } else {
                        $passwordGroup.find('.form-control').removeClass('is-invalid');
                        $passwordGroup.find('.invalid-feedback').addClass('hide');
                    }
                }
            })
        })(jQuery)
    </script>
{% endblock %}
