{% extends 'admin/layout.html.twig' %}

{% block title %}
    Edit user
{% endblock %}

{% block stylesheets %}
    <style>
        form,
        .alert {
            width: 100%;
            max-width: 600px !important;
            margin: 0 auto;
        }

        .invalid-feedback {
            text-shadow: 1px 1px 2px #000;
        }

        .required {
            position: relative;
        }

        .required::after {
            content: '*';
            color: #dc3545;
            padding-left: 3px;
            text-shadow: 0 0 2px #000;
        }

        .comment-form {
            max-width: 100% !important;
        }
    </style>
{% endblock %}

{% block content %}
    <a href="{{ path( 'admin_user_list' ) }}" class="btn btn-outline-secondary ml-auto mr-3">Cancel</a>

    <div class="wrapper w-100 bg-white p-5 border-bottom border-dark d-flex flex-column justify-content-end">
        <h1 class="text-center">
            <span class="welcome-text">Edit user</span>
        </h1>
    </div>

    <div class="wrapper w-100 h-auto py-5 news-list bg-secondary">
        {% if app.session is not null and app.session.started %}
            {% for label, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="container mt-3">
                        <div class="w-100 text-center mb-3 mx-auto alert {% if label == 'successful' %}alert-success{% elseif label == 'danger'%}alert-danger{% endif %}" role="alert">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="container">
            <div class="row d-flex flex-wrap justify-content-center align-items-center p-4 text-white">
                {{ form_start(userForm) }}
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                {{ form_label(userForm.firstName, 'First Name') }}
                                {{ form_widget(userForm.firstName, {'attr': {'class': 'form-control', 'placeholder': 'First Name'}}) }}

                            </div>

                            <div class="col">
                                {{ form_label(userForm.lastName, 'Last Name') }}
                                {{ form_widget(userForm.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Last Name'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(userForm.email, 'Email') }}

                        {% if error is same as(false) %}
                            {{ form_widget(userForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}

                        {% elseif error is same as(true) %}
                            {{ form_widget(userForm.email, {'attr': {'class': 'form-control is-invalid', 'placeholder': 'Email'}}) }}
                            <div class="invalid-feedback">
                                Invalid email address
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group password-group">
                        <div class="form-row">
                            <div class="col">
                                <label for="registration_newPassword">New password</label>
                                <input type="password"
                                       id="registration_newPassword"
                                       class="form-control"
                                       name="NewPassword"
                                       placeholder="New password"
                                       readonly
                                       onfocus="this.removeAttribute('readonly')">
                                <div class="invalid-feedback hide">
                                    Passwords do not match
                                </div>
                            </div>

                            <div class="col">
                                <label for="registration_confirmPassword">Confirm password</label>
                                <input type="password"
                                       id="registration_confirmPassword"
                                       class="form-control"
                                       name="ConfirmPassword"
                                       placeholder="Confirm password"
                                       readonly
                                       onfocus="this.removeAttribute('readonly')">
                                <div class="invalid-feedback hide">
                                    Passwords do not match
                                </div>
                            </div>
                        </div>
                    </div>

                    <small class="form-text text-white"><span class="required"></span> - required fields</small>

                    <div class="form-group mt-5 text-center">
                        {{ form_label(userForm.save) }}
                        {{ form_widget(userForm.save, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                {{ form_end(userForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        (function($) {
            $('#registration_newPassword, #registration_confirmPassword').on('blur', function () {
                const originalPassword = $('#registration_newPassword').val();
                const confirmPassword = $('#registration_confirmPassword').val();

                if (originalPassword !== '' && confirmPassword !== '') {
                    const $passwordGroup = $('.password-group');
                    if (originalPassword !== confirmPassword) {
                        $passwordGroup.find('.form-control').addClass('is-invalid');
                        $passwordGroup.find('.invalid-feedback').removeClass('hide');

                    } else {
                        $passwordGroup.find('.form-control').removeClass('is-invalid');
                        $passwordGroup.find('.invalid-feedback').addClass('hide');
                    }
                }
            });
        })(jQuery)
    </script>
{% endblock %}