{% extends 'layout.html.twig' %}

{% block title %}
    News List
{% endblock %}

{% block stylesheets %}
    <style>
        .news-list a {
            width: 30%;
            text-decoration: none;
            border-radius: 15px;
        }
    </style>
{% endblock %}

{% block body %}
    <main class="{% if oneCategoryPage == true %}h-100{% else %}h-auto{% endif %} bg-light d-flex flex-column justify-content-start align-items-center">
        <div class="wrapper w-100 bg-white p-5 border-bottom border-dark">
            {% if oneCategoryPage == true %}
                <div class="wrapper d-flex justify-content-end">
                    <a href="{{ path('news') }}" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">&larr;
                        Back</a>
                </div>
            {% endif %}

            <h1 class="text-center">
                <span class="welcome-text">{{ titlePage }}</span>
            </h1>
        </div>

        {% if oneCategoryPage != true %}
            <div class="wrapper w-100 my-5 news-list">
                <div class="container position-relative">
                    {% for categoryName, newsListOneCategory in newsListForCategory %}
                        <h6 class="text-dark pb-3 pl-2 my-3 border-bottom border-secondary"><i><b>Category: </b>
                                {{ categoryName }}
                            </i></h6>

                        <div class="row d-flex flex-wrap justify-content-start">
                            {% for news in newsListOneCategory %}
                                {% if loop.index < 4 %}
                                    <a href="{{ path('one_news', { id: news.id, queryCategoryName: 'All Category' }) }}"
                                       class="d-block bg-info p-3 m-3 col-lg-3 col-md-5 col-10">
                                        <h3 class="text-dark">{{ news.title|e }}</h3>
                                        <span class="text-white">{{ news.news|slice(0, 50) }}...</span>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>

                        {% if newsListOneCategory|length > 3 %}
                            <div class="d-flex justify-content-end align-items-center">
                                <a class="w-auto" href="{{ path('news', {queryCategoryName: categoryName}) }}">More News <span>&#187;</span></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        {% else %}
            <div class="wrapper w-100 h-100 my-5 news-list">
                <div class="container">
                    <div class="row d-flex flex-wrap justify-content-start">
                        {% for news in newsListForCategory %}
                            <a href="{{ path('one_news', { id: news.id, queryCategoryName: categoryPageName}) }}"
                               class="d-block bg-info p-3 m-3 col-lg-3 col-md-5 col-10">
                                <h3 class="text-dark">{{ news.title|e }}</h3>
                                <span class="text-white">{{ news.news|slice(0, 50) }}...</span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="navigation mt-5 mx-auto">
                {{ knp_pagination_render(newsListForCategory) }}
            </div>
        {% endif %}
    </main>
{% endblock %}
