{% extends 'admin/layout.html.twig' %}

{% block title %}
    Dashboard adding news
{% endblock %}

{% block stylesheets %}
    <style>
        form,
        .alert {
            width: 100%;
            max-width: 600px !important;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block content %}
    <a href="{{ path( 'admin_news_list' ) }}" class="btn btn-outline-secondary ml-auto mr-3">Cancel</a>

    <div class="wrapper w-100 bg-white p-5 border-bottom border-dark d-flex flex-column justify-content-end">
        <h1 class="text-center">
            <span class="welcome-text">Edit news {{ news.title }} </span>
        </h1>
    </div>

    <div class="wrapper w-100 h-auto py-5 news-list bg-secondary">
        {% if app.session is not null and app.session.started %}
            {% for label, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="container mt-3 d-flex justify-content-start">
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="container">
            <div class="row d-flex flex-wrap justify-content-center align-items-center p-4 text-white">
                {{ form_start(newsForm) }}
                <div class="form-group">
                    {{ form_label(newsForm.title, 'Title news') }}
                    {{ form_widget(newsForm.title, {'attr': {'class': 'form-control', 'placeholder': 'Title news'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(newsForm.category, 'Category news') }}
                    {{ form_widget(newsForm.category, {'attr': {'class': 'form-control'}}) }}
                    <small class="form-text text-white">This field is optional</small>
                </div>

                <div class="form-group">
                    {{ form_label(newsForm.news, 'Content') }}
                    {{ form_widget(newsForm.news, {'attr': {'class': 'form-control', 'rows': '8', 'placeholder': 'Content'}}) }}
                </div>

                <div class="form-group">
                    {{ form_widget(newsForm.active, {'attr': {'class': 'form-check-label'}}) }}
                    {{ form_label(newsForm.active) }}
                </div>

                <div class="form-group">
                    {{ form_label(newsForm.submit) }}
                    {{ form_widget(newsForm.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
                {{ form_end(newsForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}